ASSAS_DATASET_231209/
ASSAS_DATASETS_240329/
ASSAS_DATASETS_240913/
CESAR_original_plots/
MACRO_original_plots/
*.bin
**/*.bin/
/temp/
build/
*.log
**/*.log
*.lst
**/*.lst
*.lst.0
**/*.lst.0
*.lst.1
**/*.lst.1
*.quicklook
**/*.quicklook
*.perf
**/*.perf
*.stop
**/*.stop
*.gtc
**/*.gtc
*.png
**/*.png
*.zip
**/*.zip
*.tar.gz
**/*.tar.gz
*.csv
**/*.csv
*.h5
**/*.h5
*.keras
**/*.keras
*.pkl
**/*.pkl
*.eps
**/*.eps
*.out
**/*.out
*.cav
**/*.cav
*.gz
**/*.gz
STOP
*.98
**/*.98
*.99
**/*.99
*.svg
**/*.svg
*.pt
**/*.pt
*.pth
**/*.pth